<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anbang_"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MySalesManageActivity"
            android:exported="false" />
        <activity
            android:name=".MySoldListActivity"
            android:exported="false" />
        <activity
            android:name=".MyPurchaseListActivity"
            android:exported="false" />
        <activity
            android:name=".UserModifyActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".datePickerMainActivity"
            android:exported="false" />
        <activity
            android:name=".BuyingPropertyActivity"
            android:exported="true"
            android:theme="@style/Theme.anbang_"
            tools:targetApi="33">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".BuyingStoreActivity"
            android:exported="false" />
        <activity
            android:name=".BuyingAptActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- <activity android:name=".temp.S3ImageUploadActivity" /> -->
        <activity android:name=".BuyingOneRoomActivity" /> <!-- <activity android:name=".temp.CameraActivity" /> -->
        <!--
        <activity android:name=".temp.PropertyListActivity" />
        <activity android:name=".temp.PropertyAddActivity" />
        <activity android:name=".temp.PropertyViewActivity" />
        <activity android:name=".temp.S3ImageActivity" />
        -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>